




::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}

::selection {
    background: #16a085;
    color: #a4003a;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.centered {
    text-align: center
}

.mt {
    margin-top: 80px;
}

.mb {
    margin-bottom: 80px;
}

/* ==========================================================================
   General styles
   ========================================================================== */


body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: #4a4a4a;
    padding-bottom: 20px;
    padding-top: 10px;
}



.navbar-default .navbar-brand {
    color:#eaebeb;

}

.navbar-default {
    background-color: #343737;
    border-color: transparent;
    opacity: 0.6;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: blue;
    background-color: transparent;
}


.navbar-default .navbar-nav > a:hover{
    background-color: red;
}







/*timeline css*/


.timeline-content{
       border: 1px solid #DDD;
       padding: 15px;
       background-color:#E8E8E8;
       margin: 6px 10px; 
       border-radius: 5px;
}

.timeline-line{
    position: absolute;
    left: 50%;
    border-left: 10px solid white;
    height: 100%;
    margin-top: 6px;


}
 
/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
    background: url(../img/back.jpg) no-repeat center top;
    margin-top: -70px;
    padding-top: 150px;
    text-align:center;
    background-attachment: relative;
    background-position: center center;
    min-height: 650px;
    width: 100%;
    
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
    color:#ffffff;
    padding-top: 40px;
    padding-bottom: 20px;
    letter-spacing: 4px;
    font-size: 80px;
    font-weight: bold;
}

#headerwrap h4 {
    font-weight: 400;
    color: #ffffff
}

#social {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color:#E8E8E8;   
}

#social i {
    font-size: 40px;
    color: #4a4a4a
}

#social i:hover {
    color: blue;
}

#footerwrap {
    padding-top: 70px;
    padding-bottom: 50px;

 height: 100%
    bottom: 0;
    width: 100%;
    background-color: #2f2f2f;
}
@media only screen and (max-width: 767px) {
  #footerwrap{
    height: 100%;
}
 }


#footerwrap p {
    color: #f2f2f2;
    margin-left: 10px;
}



.container_space{
    margin-top: 80px;

     margin-bottom: 80px;
}



.grey{
    background: #f9f9f9;
}

/* Gallery */
.gallery {
    margin-top: 30px;
}

.gallery img:hover {
    opacity: 0.4;
}
.gallery img{
    height: 250px;
    width: 200px;
}


.profile_img{
    height: 20%;
    width: 20%;    

}


.butt{
    padding:15px;
    color: white;
}
.butt>a{
    color: white;
}

@media only screen and (max-width: 767px) {
  .profile_img{
    width: 60%;
  }
 }

.qualh1{
    padding-bottom: 50px;
    color: white;
}


#qualifications {
    background: url(../img/qual.jpg) no-repeat center top;
    
    text-align:center;

    min-height: 700px;
    width: 100%;



     position: relative;
    opacity: 0.90;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#extras{
 background: url(../img/works.jpg) no-repeat center top;
    

    min-height: 150px;
    width: 100%;




    position: relative;
    opacity: 0.90;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;     
}

.dark-overlay{

   background-color: rgba(0,0,0,0.7);
    min-height: 700px;
    position:absolute;
    top:0;
    left: 0;
    width:100%;

}

#iandt{
  background: url(../img/play.jpeg) no-repeat center top;

 
    min-height: 700px;
    width: 100%;
    color: white;



    position: relative;
    opacity: 0.90;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
}
.intern > ul > li > h4 {
    color: white;
}
.it{
    color:  #E8E8E8;
}


.intern > ul > li{
    color: white;
}







